.registerationForm{
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  margin: 50px;
}

.TopNavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homePage{
  display: flex;
  margin-top: 30px;
}